<!DOCTYPE html>
<html lang="fr">

<head>
    <link rel="stylesheet" href="test.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1>Tags</h1>
    <div id="divtag">
        <input type="text" name="tag" id="inputtag" placeholder="insert tag">
        <button onclick=addtag()>Add</button>
        <h2>Example 2</h2>
        <ul class="tags" id="tags">
            <li>
                <a href="#" class="tag">
                    HTML
                </a>
            </li>
            <li><a href="#" class="tag">CSS</a></li>
            <li><a href="#" class="tag">JavaScript</a></li>
        </ul>
    </div>


    <script src="test.js"></script>


</body>

</html>