<!DOCTYPE html>
<html lang="fr">

<head>
    <link rel="stylesheet" href="test.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>



    <div class="input">
        <!--
        <span class="tag">Tag1</span>
        <span class="tag">Tag1</span> -->
        <div class="input--container">
            <input type="text" value="hello" id="inputag" />
        </div>

    </div>

    <button onclick="" id="tag">Add Tag</button>

    <script src="test.js"></script>


</body>

</html>