* {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    letter-spacing: 0px;
    word-spacing: 0px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

#input_description {
    width: 100%;
    background-color: #e0e0e0;
    color: black;
    resize: vertical;
}

#input_title {
    width: 100%;
    background-color: #e0e0e0;
    color: black;
    resize: vertical;
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
}

.chat_header button {
    margin-left: 1em;
    padding: 7px 7px;
    font-size: 16px;
    background-color: tomato;
}

#icon #buttonmodif {
    background-color: tomato;
}

#chat_s button {
    background-color: white;
    border: none;
    color: #785964;
    padding: 7px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    margin-left: 1em;
}

#chat_s svg {
    fill: red;
}

audio {
    width: 200px;
}

.cover {
    width: 200px;
    height: 200px;
}

.controlimage {
    display: grid;
    grid-template-areas: "imagegrid" "audiogrid";
}

.audiogrid {
    grid-area: audiogrid;
    height: min-content;
}

.imagegrid {
    grid-area: imagegrid;
    height: min-content;
}

button {
    background-color: #9ed0e6;
    border: none;
    color: #785964;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #b796ac;
    color: white;
}

header {
    display: inline-block;
    width: 100%;
}

#document {
    display: inline-block;
    max-width: 33%;
    max-height: 33%;
    width: auto;
    height: auto;
}

#description {
    margin-top: 50px;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-template-areas: "Content Comment";
}

#Content {
    margin: 100px;
}

.grid-container {
    display: grid;
    grid-template-columns: min-content;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1px 1px;
    grid-template-areas: "commentaire1" "commentaire2" "." "." "." ".";
}

.commentaire1 {
    grid-area: commentaire1;
}

.commentaire2 {
    grid-area: commentaire2;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

#chat {
    height: 720px;
    border: 1px solid silver;
    font-family: "Montserrat", sans-serif;
    position: relative;
    background: white;
}

.chat_header {
    padding: 15px;
    border-bottom: 5px solid #9ed0e6;
    color: #9ed0e6;
    margin-bottom: 8px;
    font-size: 14px;
    background: #f0f0f0;
}

.chat {
    margin: 14px;
    border: 1px solid #9ed0e6;
    padding: 8px;
    border-radius: 10px 10px 10px 0;
    font-size: 0.85em;
    word-break: break-word
}

.chat_name {
    text-transform: uppercase;
    font-size: 0.75em;
    margin: 4px 0 2px;
}

.chat_other {
    border-radius: 10px 10px 0 10px;
    border: 1px solid #9ed0e6;
}

#chat form {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: calc(100% - 20px);
}

#chat input[type="text"] {
    width: calc(100% - 70px);
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid grey;
    font-family: "Montserrat", sans-serif;
}

#chat input[type="submit"] {
    box-sizing: border-box;
    padding: 10px;
    margin-left: -1px;
    border: 1px solid grey;
    font-family: "Montserrat", sans-serif;
}

#chat input[type="submit"]:hover {
    background: grey;
    color: #fff;
}

#chat_s {
    overflow-y: scroll;
    max-height: 480px;
}

::-webkit-scrollbar {
    width: 13px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 0 4px #fff;
    background: rgba(0, 0, 0, 0.2);
}

[required] {
    border: 2px dotted orange;
}

.button.disabled {
    opacity: 0.65;
    cursor: not-allowed;
}

:disabled {
    cursor: not-allowed;
    margin-bottom: 20px;
    text-decoration: none;
    background-color: rgb(139, 139, 139);
}

:disabled svg {
    color: #555;
}

input[type="submit"]:disabled {
    background-color: rgb(139, 139, 139);
    cursor: not-allowed;
}

html,
body {
    font-family: Tahoma, Arial, sans-serif;
    font-size: 16px;
}

.btn {
    cursor: pointer;
}

.hide,
.hiddendiv {
    display: none;
}


/* Start add tags */

.wrappers {
    max-width: 500px;
    margin: 50px auto;
}

.tags {
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.tags .title {
    display: inline-block;
    margin: 10px 0;
    color: #888;
}

.tags .show-error {
    color: #c62a2a;
    font-size: 14px;
    padding: 5px 10px;
    display: none;
}

.tags .wrapper-tags {
    background-color: #f9f9f9;
    border: 1px solid #EEE;
    min-height: 100px;
    border-radius: 5px;
    padding: 10px;
    cursor: text;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.tags .wrapper-tags.focus {
    color: #3498db;
    box-shadow: 0 0 0 0.15rem rgba(101, 175, 255, 0.3);
}

.tags .wrapper-tags .view-tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tags .wrapper-tags .tag {
    font-size: 12px;
    padding: 3px 6px;
    height: 26px;
    background-color: #1d94e2;
    color: #FFF;
    border-radius: 3px;
    display: block;
    float: left;
    margin: 0 8px 8px 0;
    cursor: default;
    -webkit-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    user-select: text;
}

.tags .wrapper-tags .tag::-moz-selection {
    background-color: #ebff00;
    color: #e65508;
}

.tags .wrapper-tags .tag::selection {
    background-color: #ebff00;
    color: #e65508;
}

.tags .wrapper-tags .tag i {
    cursor: pointer;
    margin-left: 6px;
    color: #fff;
    font-size: 10px;
    width: 14px;
    height: 14px;
    background-color: #8e8e8e;
    border-radius: 50%;
    text-align: center;
    line-height: 13.5px;
}

.tags .wrapper-tags .tag i:hover {
    background-color: #d31818;
}

.tags .wrapper-tags .input-tag:focus {
    outline: 0
}

.tags .wrapper-tags .input-tag {
    display: inline-block;
    border: 0;
    padding-left: 5px;
    height: 26px;
    flex-grow: 1;
    width: 50px;
    min-width: 50px;
    font-size: 15px;
    background-color: inherit;
}

.show-count-all {
    margin-top: 10px;
    font-size: 13px;
    overflow: hidden;
    padding: 0 10px;
}

.show-count-all>div span {
    color: #0a72b7;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

.show-count-all>div.max span,
.show-count-all>div.max {
    color: #de1717;
    font-size: 14px;
    -webkit-animation: flash 1s ease-in-out infinite;
    -moz-animation: flash 1s ease-in-out infinite;
    -o-animation: flash 1s ease-in-out infinite;
    animation: flash 1s ease-in-out infinite;
}

@-webkit-keyframes flash {
    0% {
        opacity: 1
    }
    50% {
        opacity: 0.6
    }
    100% {
        opacity: 1
    }
}

@-moz-keyframes flash {
    0% {
        opacity: 1
    }
    50% {
        opacity: 0.6
    }
    100% {
        opacity: 1
    }
}

@keyframes flash {
    0% {
        opacity: 1
    }
    50% {
        opacity: 0.6
    }
    100% {
        opacity: 1
    }
}

.show-count-all .count-character-tag {
    float: left;
}

.show-count-all .count-tags {
    float: right;
}

.tags .btn {
    margin: 20px 0;
}


/* End add tags */


/* Start show tags */

.show-all-tags {
    font-family: Arial, sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.show-all-tags .show-tags .title {
    color: #666;
    font-size: 18px;
    font-weight: bold;
}

.show-all-tags .show-tags .wrapper-view-tags {
    padding: 10px 10px 10px 20px;
    background-color: #EEE;
    border-radius: 4px;
    position: relative;
}

.show-all-tags .show-tags .wrapper-view-tags .hide-array {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    line-height: 28px;
    background-color: #c11d1d;
    color: #FFF;
    text-align: center;
    cursor: pointer;
}

.show-all-tags .show-tags .tags .tag {
    padding-left: 25px;
}

.show-all-tags .show-tags .tags .tag span {
    display: inline-block
}

.show-all-tags .show-tags .tags .tag .index {
    color: #3498db;
    font-weight: bold;
    width: 40px;
}

.show-all-tags .show-tags .tags .tag .value {
    -webkit-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    user-select: text;
}


/* End show tags */