<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    
    <iframe style="width: 100%;height: 500px;"
     class="doc" src="https://docs.google.com/gview?url=http://www.les-asl-abbaye.ovh/Ressourcepeda/vie quotidienne/achats -alimentation-courses/E/Payer ses courses - D E - ea.docx&embedded=true"></iframe>

    <!--<iframe
        src='https://view.officeapps.live.com/op/embed.aspx?src='
        width='480px' height='720' frameborder='0'>
        This is an embedded <a target='_blank' href='http://office.com'>Microsoft Office</a> document, powered by <a
            target='_blank' href='http://office.com/webapps'>Office Online</a>.</iframe> -->
    <script>
       //  var link = 'http://www.les-asl-abbaye.ovh/Ressourcepeda/vie quotidienne/achats -alimentation-courses/E/Payer ses courses - D E - ea.docx';
        //document.getElementById("google").src ="https://docs.google.com/gview?url="+URL(string+"&embedded=true"

    </script>

</body>

</html>