body {
    font-family: "Lato", sans-serif;
}
span {
    display: flex;
}

a.button1 {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #000000;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #000000;
    text-align: center;
    transition: all 0.2s;
}

a.button1:hover {
    color: #ffffff;
    background-color: #000000;
}

@media all and (max-width:30em) {
    a.button1 {
        display: block;
        margin: 0.4em auto;
    }
}

.parcours li a {
    display: block;
    float: left;
    width: 100px;
    text-decoration: none;
    text-align: center;
}

.parcours {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.parcours li {
    margin-left: 2px;   
}

.parcours li a:hover {
    background-color:#D3D3D3;
    border-color:#696969 #DCDCDC #DCDCDC #696969;
    } 