body{
  margin:auto;
}

main{
  margin-bottom: 25%;
}

h1{
  text-align: center;
  font-family: "Aaux";
  src: url("http://les-asl-abbaye.ovh/ASL-Abbaye/data/fonts/Aaux-ProLight-Regular.ttf") format("truetype");
  font-size: large;
  color: white;
}

/* DEBUT MENU DEROULANT DES PAVES */

/* Dropdown Button */
.dropbtn {
 background-color: #33D7FF;
 color: white;
 padding-top: 100px;
 padding-left: 150px;
 padding-right: 150px;
 padding-bottom: 100px;
 text-align: center;
 font-size: 30px;
 border: none;
 border-radius: 25px;
 box-shadow: 0 9px #999;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
 position: relative;
 display: inline-block;
 top: 40px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
 display: none;
 position: absolute;
 background-color: #B833FF;
 min-width: 424.633px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}

#id{
  min-width: 438.65px;
}

/* Links inside the dropdown */
.dropdown-content a {
 color: black;
 font-weight: bold;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
}

.dropbtn a{
  color: white;
  text-decoration: none;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #B833FF; border-radius: 0;}
.dropdown:hover .dropbtn>a{color: black;}

/* FIN MENU DEROULANT DES PAVES */
