/* DEBUT FONT */

@font-face {
    font-family: "Aaux";
    src: url("http://les-asl-abbaye.ovh/ASL-Abbaye/data/fonts/Aaux-ProLight-Regular.ttf") format("truetype");
}

/* FIN FONT */

/* ////////////////////////////////////////////////////////// */

/* DEBUT BODY */

body {
    background: -webkit-linear-gradient(left, #25c481, #25b7c4);
    background: linear-gradient(to right, #25c481, #25b7c4);
    color: white;
    font-family: 'Aaux', sans-serif;
}

/* FIN BODY */

/* ////////////////////////////////////////////////////////// */

/* DEBUT BOUTON HOME */

/* FIN BOUTON HOME */

/* ////////////////////////////////////////////////////////// */

/* DEBUT BOUTON SE CONNECTER */

.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #5E33FF;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    transition: all 0.5s;
}

.button:hover {
    background-color: magenta;
}

.button:active {
    background-color: #C133FF;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    opacity: 0;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
}

/* FIN BOUTON SE CONNECTER */

/* ////////////////////////////////////////////////////////// */

/* POUR LE MENU DÉROULANT DU PROFIL */

.bi-person-circle {
    background-color: inherit;
    color: inherit;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.drop {
    float: right;
    position: absolute;
    display: inline-block;
}

.dropdown-contenu {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-contenu a, .dropdown-contenu p {
    color: black;
    /* padding: 12px 16px; */
    text-decoration: none;
    display: block;
}

.dropdown-contenu p {
    background-color: gray;
}

.drop a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

/* FIN DU MENU DÉROULANT DU PROFIL */

/* ////////////////////////////////////////////////////////// */